*{
    margin: 10px;
    padding: 0px;
}

.div1{
    height: 200px;
    border: black;
}

.img{
    height: 200px;
    width: 1825px;
}

.div2{
    display: grid;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    height: 1500px;
}

.azul{
    color: blue;
    height: 50px;
}

.div3{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 400px;
}

.uno{
    border: 2px solid black;
    grid-row: 1 / 4;
}

.dos{
    border: 2px solid black;
}

.tres{
    border: 2px solid black;
    grid-column: 3 / 5;
}

.cuatro{
    border: 2px solid black;
}

.cinco{
    border: 2px solid black;
}

.seis{
    border: 2px solid black;
}

.siete{
    border: 2px solid black;
}

.ocho{
    border: 2px solid black;
}

.nueve{
    border: 2px solid black;
}

.div4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div5{
    
    border: 2px solid black;
}

.div6{
    border: 2px solid black;
    
}