.caja {
    background-color: red;
    color: black;
    width: 200px;
    height: 200px;
    margin: 0.5em;
    transition: all 4s ease-in-out 0.5s;
    position: relative;
}

.caja:hover {
    transform: rotate(270deg);
    width: 100px;
    height: 100px;
    background-color: blue;
    color: yellow;
    font-size: 1.5em;
}